body {
  background-color: rgb(253, 237, 199);
  color: white;
  font-size: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.calculator {
  background-color: #636262;
  margin: 20px;
  width: 400px;
  height: auto;
}
.pole {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 20px;
}
.bill {
  min-width: 100%;
  background-color: white;
  min-height: 60px;
  color: black;
  text-align: right;
}
.num {
  min-width: 23%;
  text-align: center;
  background-color: rgb(105, 105, 196);
  border: 1px solid black;
  margin-top: 5px;
  min-height: 50px;
  vertical-align: center;
}

.num:hover {
  background-color: rgb(196, 105, 105);
}
.result {
  padding-top: 10px;
  padding-right: 5px;
}
